POSTGRES_HOST=substituir_pelo_host
POSTGRES_PORT=substituir_pela_porta
POSTGRES_DB=substituir_pelo_nome_do_banco_de_dados
POSTGRES_USER=substituir_pelo_seu_usuario
POSTGRES_PASSWORD=substituir_pela_sua_senha
